@import "tailwindcss";

#home{
    background-image: url(public/img/main-bg.png);
}
main{
    background-image: url(public/img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#driver-img{
    background-image: url(public/img/driver-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#bike-scroll-scene{
    background-image: url(public/img/bike-scroll-scene.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}